{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $('#fullpage').fullpage({
        'verticalCentered': false,
        'css3': false,
        'paddingTop': '10px',
        'anchors': ['page1', 'page2', 'page3', 'page4'],
        'navigation': true,
        'navigationPosition': 'right',
        'navigationTooltips': ['概况', '福利', '要求', '招收人数']
    })
</script>
{% endblock %}

{% block content %}
    <br><br><br><br>
	<h1 class="text-center">2016年上传员&版主招新公告</h1>
	<div id="fullpage">
    	<div class="section">
    		<div class="container">
    			<h4>下半学期又开始了，荔香即将有一批上传员及版主离校所以我们的招新现在要开始了。</h4>
                <h4>荔香2016招新群：392979670</h4>
				<h4>想报名的同学必须先加Q群，群验证写上你的荔香ID。</h4>
				<h4>进群之后群昵称改为应聘职位-荔香ID，例如 动漫-落落。</h4>
				<h4>最多可报名两个职位，优先考虑前一个，第二个进群之后填写信息登记表时再补上。</h4>
				<h4>五月份之前进行考核，通过的可以进入实习期一个月，六月份正式成为上传员。</h4>
    		</div>
    	</div>
    	<div class="section">
    		<div class="container">
    			<h2>福利</h2>
    			<br>
    			<h4>上传员拥有不断网及提速福利。</h4>
                <h4>版主及美工仅享有不断网福利。</h4>
                <h4>隐藏福利就是各位前辈会低价出售他们的各种二手配件。</h4>
    		</div>
    	</div>
    	<div class="section">
    		<div class="container">
    			<h2>基本要求</h2>
    			<br>
    			<h4>1、在校时间必须大于等于一年，也就是说你下个学年也要在校。</h4>
				<h4>2、不论应聘什么职位，至少要了解荔香，知道发帖及发资源的规则，当然，现在开始学也来得及。</h4>
				<h4>3、上传员必须自备电脑存储空间，如电影上传员最也得要2TB以上，越往后空间要求越大，所以基本都是要扩容的。</h4>
				<h4>4、动漫，电视剧，电影必须要有高清资源来源，对高清知识有一定的了解。</h4>
    		</div>
    	</div>
    	<div class="section">
    		<div class="container">
    			<h2>招收人数</h2>
    			<br>
    			<h4>动漫（2人）：热爱动漫，对新番老番有一定程度的了解，有基础的动漫知识，会翻墙找资源。</h4>
    			<h4>体育（篮球1人，足球1人）：观看NBA或者各大联赛，熟悉各种比赛规则。</h4>
    			<h4>综艺（日韩1人，内地1人）：要求必须热爱综艺，追开剧的至少3部以上。</h4>
    			<h4>新闻（1人）：必须关注时事及国家大事。</h4>
    			<h4>纪录片（1人）：各大纪录片，例如贝爷全集，你懂的。</h4>
    			<h4>电视剧（港台剧1人，英美剧1，大陆剧1人）：自己至少追3部剧以上，经常关注当前的热门剧。</h4>
    			<h4>游戏（1人）：负责单机游戏和网游，电脑配置越高越好。</h4>
    			<h4>电影（2人）：热爱高清电影，硬盘也要够大。</h4>
    			<h4>版主（2人）：负责管理好内外站的水区，负责处理各版违规事件。</h4>
    			<h4>美工（1人）：平时没啥事做的，但是需要出图的时候需要尽快出得了。ps，cdr，ai，手绘板绘鼠绘皆可。</h4>
    			<a href="/join_us" class="btn btn-lg btn-success">点击报名</a>
    		</div>
    	</div>
</div>


{% endblock %}